*.swo
*.swp
.eunit
.rebar
.tool-versions
_build
asngen/XmppAddr.*
autom4te.cache
c_src/*.d
c_src/*.gcda
c_src/*.gcno
c_src/*.o
config.log
config.status
deps
ebin
include/XmppAddr.hrl
priv
rebar.lock
src/XmppAddr.asn1db
src/XmppAddr.erl
vars.config
dialyzer
