%%%----------------------------------------------------------------------
%%% File    : rebar.config
%%% Author  : Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%% Purpose : Rebar build script. Compliant with rebar and rebar3.
%%%
%%% Copyright (C) 2002-2024 ProcessOne, SARL. All Rights Reserved.
%%%
%%% Licensed under the Apache License, Version 2.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%
%%%----------------------------------------------------------------------

{erl_opts, [debug_info, {src_dirs, ["asn1", "src"]},
	    nowarn_export_all,
            {platform_define, "^(R|1|2[012])", 'USE_OLD_CRYPTO_HMAC'},
            {platform_define, "^(R|1|2[01])", 'USE_GETHOSTBYNAME'},
            {platform_define, "^(R|1|2[0123]|24\.[012])", 'USE_ADDRPORTCONNECT'},
            {i, "include"}]}.

{port_env, [{"ERL_LDFLAGS", " -L$ERL_EI_LIBDIR -lei"},
            {"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.

{port_specs, [{"priv/lib/jid.so", ["c_src/jid.c"]},
	      {"priv/lib/xmpp_uri.so", ["c_src/xmpp_uri.c"]},
	      {"priv/lib/xmpp_lang.so", ["c_src/xmpp_lang.c"]}]}.

{deps, [{p1_utils, "~> 1.0.25", {git, "https://github.com/processone/p1_utils", {tag, "1.0.26"}}},
	{fast_xml, "~> 1.1.51", {git, "https://github.com/processone/fast_xml", {tag, "1.1.55"}}},
	{fast_tls, "~> 1.1.19", {git, "https://github.com/processone/fast_tls", {tag, "1.1.22"}}},
	{ezlib, "~> 1.0.12", {git, "https://github.com/processone/ezlib", {tag, "1.0.13"}}},
	{idna, "~> 6.0", {git, "https://github.com/benoitc/erlang-idna", {tag, "6.0.0"}}},
        {stringprep, "~> 1.0.29", {git, "https://github.com/processone/stringprep", {tag, "1.0.30"}}}]}.

{clean_files, ["c_src/jid.gcda", "c_src/jid.gcno"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata    , "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name , "github"}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.


%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
