{erl_opts, [debug_info, {src_dirs, ["src"]},
	    {i, "include"},
	    {i, "deps/fast_xml/include"}]}.

{deps, [{fast_xml, ".*", {git, "https://github.com/processone/fast_xml"}},
	{stringprep, ".*", {git, "https://github.com/processone/stringprep"}}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
