%%%----------------------------------------------------------------------
%%% File    : rebar.config
%%% Author  : Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%% Purpose : Rebar build script. Compliant with rebar and rebar3.
%%%
%%% Copyright (C) 2002-2020 ProcessOne, SARL. All Rights Reserved.
%%%
%%% Licensed under the Apache License, Version 2.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%
%%%----------------------------------------------------------------------

{erl_opts, [debug_info, {src_dirs, ["asn1", "src"]},
	    nowarn_export_all,
            {i, "include"},
            {i, "../fast_xml/include"},
            {i, "deps/fast_xml/include"}]}.

{port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.

{port_specs, [{"priv/lib/jid.so", ["c_src/jid.c"]},
	      {"priv/lib/xmpp_uri.so", ["c_src/xmpp_uri.c"]},
	      {"priv/lib/xmpp_lang.so", ["c_src/xmpp_lang.c"]}]}.

{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.18"}}},
	{fast_xml, ".*", {git, "https://github.com/processone/fast_xml", {tag, "1.1.40"}}},
	{fast_tls, ".*", {git, "https://github.com/processone/fast_tls", {tag, "1.1.5"}}},
	{ezlib, ".*", {git, "https://github.com/processone/ezlib", {tag, "1.0.7"}}},
	{idna, ".*", {git, "https://github.com/benoitc/erlang-idna", {tag, "6.0.0"}}},
        {stringprep, ".*", {git, "https://github.com/processone/stringprep", {tag, "1.0.19"}}}]}.

{clean_files, ["c_src/jid.gcda", "c_src/jid.gcno"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.

{profiles, [{test, [{erl_opts, [{src_dirs, ["src", "test"]}]}]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
